@model IEnumerable<Game>

@{
    Layout = "~/Views/Shared/_DoashBoardLayout.cshtml";
}

@if(!Model.Any())
{
    <div class="alert alert-warning mt-5" role="alert">
        <h4 class="alert-heading">No games!</h4>
        <p class="mb-0">No games were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">

        @foreach (var game in Model)
        {
            <div class="col-lg-4 col-md-6">

                <a asp-controller="Games" asp-action="Details" asp-route-id="@game.Id" class="card border-success mb-5 border-2 text-decoration-none rounded-3 overflow-hidden">

                    <div class="card-body" style="background-image: url(@($"{FileSetings.ImagesPath}/{game.Cover}")); background-size: cover; background-position: center; height: 500px;">
                        <div class="h-100 d-flex align-items-end">
                            <span class="badge bg-secondary text-white rounded-2 fs-3">@game.Category?.Name</span>
                        </div>
                    </div>

                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach (var gameDevice in game.GameDevices)
                            {
                                <i class="@gameDevice.Device.Icon me-2 fs-4"></i>
                            }
                        </div>
                    </div>

                </a>
            </div>
        }

    </div>   
}