@model Rest

@{
    ViewData["Title"] = "Detiles";
}


<h3 class="text-dark text-center">
    Rest Name: @Model.Name
</h3>

<table class="table">
    <thead>
       @* <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.Select(x => x.Name).FirstOrDefault())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.Select(x => x.Name).FirstOrDefault())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.Select(x => x.Name).FirstOrDefault())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.Select(x => x.Name).FirstOrDefault())
            </th>
        </tr>*@
    </thead>
    <tbody class="text-dark">
        @foreach (var Room in Model.Rooms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Room.NumberOfPepleAllowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Room.PriceInHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Room.Space)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Room.Id">Reservation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
